.deps
README
ChangeLog
Makefile
Makefile.in
aclocal.m4
compile
configure
config.log 
config.status
depcomp
missing
install-sh
autom4te.cache
test-driver

*.log
*.trs

nbproject
*.o
version.m4
src/version-vcs.h
src/version-conf.h
src/version.h
src/.dirstamp
libreblackjack
*.tar.gz

doc/version.texi
doc/mdate-sh
doc/stamp-vti
doc/texinfo.tex
doc/libreblackjack.*

players/22-strategy-from-file/custom
players/45-colored-tables/hard_hit
players/45-colored-tables/soft_hit
players/45-colored-tables/hard_double
players/45-colored-tables/soft_double
players/45-colored-tables/split
players/45-colored-tables/*.html
