*~
*.[oa]
*.cache
.dirstamp

.sc-start-sc*
aclocal.m4
ChangeLog
config.h
config.in
config.log
config.status
configure
GNUmakefile
INSTALL
libmaint.mk
Makefile
Makefile.in
po-check-1
po-check-2
po/*.gmo
po/.reference
po/Makefile
po/Makefile.in
po/messages
po/POTFILES
po/stamp-po
po/libreblackjack.pot
README-release
src/.deps
src/.libs
stamp-h1
stamp.h*
test-suite.log

.deps
README
ChangeLog
Makefile
Makefile.in
aclocal.m4
compile
configure
config.log 
config.status
depcomp
missing
install-sh
autom4te.cache
test-driver

*.yaml

*.log
*.trs

nbproject
*.o
version.m4
src/version-vcs.h
src/version-conf.h
src/version.h
src/.dirstamp
blackjack
*.tar.gz

doc/version.texi
doc/mdate-sh
doc/stamp-vti
doc/texinfo.tex

players/22-strategy-from-file/custom
players/45-colored-tables/hard_hit
players/45-colored-tables/soft_hit
players/45-colored-tables/hard_double
players/45-colored-tables/soft_double
players/45-colored-tables/split
players/45-colored-tables/*.html
